[submodule "lib/libjpeg"]
	path = lib/libjpeg
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "lib/libpng"]
	path = lib/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
