[submodule "lib/libjpeg"]
	path = lib/libjpeg
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "lib/libpng"]
	path = lib/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/libwebp"]
	path = lib/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "lib/libtiff"]
	path = lib/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "lib/libheif"]
	path = lib/libheif
	url = https://github.com/strukturag/libheif.git
[submodule "lib/libde265"]
	path = lib/libde265
	url = https://github.com/strukturag/libde265.git
[submodule "lib/libaom"]
	path = lib/libaom
	url = https://aomedia.googlesource.com/aom
[submodule "lib/simde"]
	path = lib/simde
	url = https://github.com/simd-everywhere/simde
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/openexr"]
	path = lib/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
    ignore = dirty
[submodule "lib/lcms"]
	path = lib/lcms
	url = https://github.com/mm2/Little-CMS.git
