#layers_list {
    border: 1px solid #d5d0cc;
}

#tool_button {
    border-radius: 0;
}

notebook tab:focus {
    outline: none;
}

.warning_message {
    color: #ff0000;
}

.tool-panel-options-icon {
    margin-left: 10px;
    padding-right: 0;
    margin-right: 0;
}

.color_button {
    background-image: none;
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    min-width: 20px;
    min-height: 20px;
    outline: none;
}

.color_button:hover,
.color_button:active,
.color_button:checked {
    background-image: none;
    box-shadow: none;
}
