#layers_list {
    border: 1px solid #d5d0cc;
}

#tool_button {
    border-radius: 0;
}

notebook tab:focus {
    outline: none;
}

.warning_message {
    color: #ff0000;
}

.tool-panel-options-icon {
    margin-left: 10px;
    padding-right: 0;
    margin-right: 0;
}
